@import 'normalize.css/normalize';
@import 'utilities/variables';
@import 'utilities/colors';
@import 'utilities/base';
@import 'utilities/spacing';

#wrapper--site {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

@import 'template/siteHeader';
@import 'template/navigation';

// Wrapper for content area
#content {
  margin: 10px 0;
}

@import 'template/breadcrumb';
@import 'template/pageContent';
@import 'template/pageContact';
@import 'template/pageNav';
@import 'template/siteFooter';

/*
 * Components
 */

@import 'components/buttons';
@import 'components/alerts';
@import 'components/dataTable';
@import 'components/form';
@import 'components/mediaGallery';
@import 'components/videoContainer';

/*
 * Special Pages
 */

@import 'home/newsSlider';
@import 'home/quickLinks';
@import 'home/latestNews';
@import 'home/tiles';

@import 'pages/searchResults';
@import 'pages/sitemap';

/*
 * Unknown CSS (Likely One Time Hacks)
 */

@import 'components/unknown';
