@import 'normalize.css/normalize';
@import 'utilities/variables';
@import 'utilities/colors';

/*
 * Site Styles
 */


html {
  font-family: $site-font-family, sans-serif;
}


body {
  font-size: 16pt;

  @media (max-width: 900px) {
    font-size: 12pt;
  }
}

a {
  font-weight: 600;
  color: $orange-darker;
  text-decoration: none;

  &:focus,
  &:hover {
    text-decoration: underline;
  }
}


b,
h2,
h3,
h4,
strong {
  font-weight: 600;
}


ul {
  margin-top: 0;
  margin-left: 0;
}


hr {
  border-color: #005f68;
}


@import 'utilities/base';


.text-nowrap {
  white-space: nowrap;
}


.text-center {
  text-align: center;
}


@import 'utilities/spacing';
@import 'components/buttons';


.alert {
  border-style: solid;
  border-width: 1px;
}

.alert-teal {
  background-color: #b4f9ff;
  border-color: $ssm-teal;
}


#wrapper--site {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

@import 'template/siteHeader';
@import 'template/navigation';


#content {
  margin: 10px 0;
}


@import 'home/newsSlider';
@import 'home/quickLinks';


.shareThisPage {
  text-align: right;
}


#header_rightCol {
  float: right;
}

#zone_leftFront {
  float: left;
  width: 20%;
  padding: 10px;
  color: #fff;
  background-color: #007681;
  box-sizing: border-box;
}
@media (max-width: 900px) {
  #zone_leftFront {
    float: none;
    width: 100%;
  }
}

#zone_leftFront .front-page--news-block {
  margin: 10px 0;
}

#zone_leftFront .front-page--news-block+.front-page--news-block {
  margin-top: 20px;
}

#zone_leftFront h2 {
  margin: 0 0 15px;
  font-size: larger;
  text-align: center;
}

#zone_leftFront ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#zone_leftFront li {
  padding: 0;
}

#zone_leftFront a {
  display: inline-block;
  padding: 5px;
  font-size: smaller;
  color: #fff;
}

#zone_leftFront a:focus,
#zone_leftFront a:hover {
  text-decoration: none;
  background-color: #005f68;
}

#zone_leftFront p {
  margin: 0;
  text-align: right;
}

#zone_rightFront {
  float: right;
  width: 80%;
  box-sizing: border-box;
  padding-left: 15px;
}
@media (max-width: 900px) {
  #zone_rightFront {
    float: none;
    width: 100%;
    padding-left: 0;
  }
}

#zone_rightFront .frontPageTile {
  margin-bottom: 1em;
}
@media (max-width: 900px) {
  #zone_rightFront .frontPageTile {
    margin: 0 10px 1em;
  }
}

#zone_rightFront .frontPageTile div {
  min-height: 70px;
  margin: 2px;
  background-position: 5px center;
  background-repeat: no-repeat;
  background-size: 100px 60px;
}

#zone_rightFront .frontPageTile div:focus-within,
#zone_rightFront .frontPageTile div:hover {
  background-color: #fdf7f3;
}

#zone_rightFront .frontPageTile div:focus-within a,
#zone_rightFront .frontPageTile div:hover a {
  color: #cf5e23;
}

#zone_rightFront .frontPageTile a {
  display: block;
  padding: 10px 5px 10px 120px;
}

#zone_rightFront .frontPageTile a:focus,
#zone_rightFront .frontPageTile a:hover {
  text-decoration: none;
}

#zone_rightFront .frontPageTile h2 {
  margin: 0;
  font-size: larger;
}

#zone_rightFront .frontPageTile p {
  margin: 0;
  font-weight: 400;
}

#zone_rightPage {
  float: right;
  width: 80%;
}
@media print, (max-width: 900px) {
  #zone_rightPage {
    float: none;
    width: 100%;
  }
}

#mainContent_right {
  float: right;
  width: 30%;
  padding: 0 10px;
  margin-bottom: 30px;
  overflow: hidden;
  font-size: smaller;
  box-sizing: border-box;
}

#mainContent_right h2 {
  margin-top: 0;
}
@media print, (max-width: 650px) {
  #mainContent_right {
    float: none;
    width: 100%;
    font-size: medium;
  }

  #mainContent_right h2 {
    margin-top: 15px;
  }
}

#mainContent_left {
  float: left;
  width: 70%;
  padding: 0 10px;
  box-sizing: border-box;
}
@media print, (max-width: 650px) {
  #mainContent_left {
    float: none;
    width: 100%;
  }
}

#mainContent_left img {
  height: auto !important;
  max-width: 100%;
}

#mainContent_left table th {
  padding: 0.25em;
  font-weight: 600;
  text-align: center;
  vertical-align: top;
}

#mainContent_left table td {
  padding: 0.25em;
  vertical-align: top;
}

#mainContent_left .shareThisPage {
  margin-top: 1em;
}

@import 'components/dataTable';

#mainContent_left .FormPanel fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

#mainContent_left .FormPanel legend {
  font-weight: 600;
}

#mainContent_left .FormPanel input[type='text'],
#mainContent_left .FormPanel textarea {
  padding: 5px;
  margin-top: 5px;
}

#mainContent_left .FormPanel input[type='checkbox'],
#mainContent_left .FormPanel input[type='radio'] {
  margin-right: 10px;
}

#mainContent_left .FormPanel .CaptchaTable td {
  padding: 0;
}

#mainContent_left .FormPanel .CaptchaTextBox {
  width: 6em;
}

@import 'template/breadcrumb';

#zone_leftPage {
  float: left;
  width: 20%;
  padding: 0 10px;
  box-sizing: border-box;
}
@media print, (max-width: 900px) {
  #zone_leftPage {
    float: none;
    width: 100%;
  }
}

#zone_leftPage h2 {
  margin-top: 0;
}

#zone_leftPage ul {
  padding: 0;
  margin: 0;
}

#zone_leftPage li {
  padding-bottom: 0.5em;
  margin: 0;
  list-style: none;
}

@import 'template/siteFooter';

@import 'pages/searchResults';
@import 'pages/sitemap';

@import 'components/videoContainer';

.zoneiFrame iframe {
  height: 600px;
  overflow-x: hidden;
  overflow-y: auto;
}

.rightBarItem {
  margin-top: 5px;
  margin-bottom: 5px;
}

.attachmentsHeader {
  font-weight: 600;
}

.MediaGalleryFolderTree,
.MediaLibrarySort {
  display: none;
}

.galleryTable {
  margin-top: 20px;
  margin-bottom: 20px;
}
