html {
  font-family: $site-font-family, sans-serif;
}

body {
  font-size: 16pt;

  @media (max-width: 900px) {
    font-size: 12pt;
  }
}

a {
  font-weight: 600;
  color: $orange-darker;
  text-decoration: none;

  &:focus,
  &:hover {
    text-decoration: underline;
  }
}

b,
h2,
h3,
h4,
strong {
  font-weight: 600;
}

ul {
  margin-top: 0;
  margin-left: 0;
}

hr {
  border-color: $teal-darker;
}

.text-nowrap {
  white-space: nowrap;
}

.text-center {
  text-align: center;
}

/*
 * Clear fixes
 */

.clearfix {
  &::after,
  &::before {
    display: table;
    content: '';
  }

  &::after {
    clear: both;
  }
}

.clearing {
  height: 0;
  clear: both;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

/*
 * Display tweaks
 */

.offscreen,
.sr-only {
  position: absolute;
  top: auto;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.d-none {
  display: none;
}

@media print {
  .hidden-print {
    display: none;
  }
}

.to-delete {
  display: none !important;
}
