/*
 * Potentially unused CSS
 */

 #header_rightCol {
   float: right;
 }

 .zoneiFrame iframe {
   height: 600px;
   overflow-x: hidden;
   overflow-y: auto;
 }

 .rightBarItem {
   margin-top: 5px;
   margin-bottom: 5px;
 }

 .attachmentsHeader {
   font-weight: 600;
 }
